/*Add custom CSS for Game here*/

body {
  background: #d5dbdb !important;
}

.nav-wrapper {
  background-color: #60A550;
  height: 100px !important;
}

h1, h2, h3 {
  font-family: "Abril Fatface";
}

.brand-logo {
  margin: 0;
  margin-top: .50%;
  margin-left: 15px;
  /*font-family: 'Abril Fatface';
  font-size: 2.5em;
  text-transform: capitalize;
  letter-spacing: 0.1em;*/
  height: 80px;
  width: auto;
  padding-bottom: 7px;

}

.card-title, a {
  font-family: 'Quicksand';
}

.navbar-fixed {
  z-index: 1500;
}

.navbar-fixed nav ul a {
  font-size: 1.7em;
  text-transform: capitalize;
}

p {
  font-size: 20px;
  font-family: 'Quicksand';
}

.card-content .white-text {
  padding-left: 0px;
  padding-bottom: 0px !important;
}

div.card-action {
  border: none !important;
  padding-left: 0px !important;
  padding-top: 0px !important;
}

div.social-container {
  margin-left: 0px;
}

i.fa {background: none !important;}

i.fa.fa-play:hover, i.fa.fa-pause:hover, i.fa.fa-step-forward:hover, i.fa.fa-times:hover, i.fa.fa-step-backward:hover {
  color:#0e8664;
  transition: 0.3s;
}

.right.hide-on-med-and-down li[class="menu"]{
    padding-top: 20px;
    height: 100px;
}

.right.hide-on-med-and-down li[class="menu"],.stats-ul li[class="menu"],.hover-black{
  transition:background-color 0.3s;
}

.right.hide-on-med-and-down li[class="menu"]:hover{
  background-color: #80BE62;
}

.btn-floating.transparent.waves-effect.waves-light {
  background: none !important;
  box-shadow: none;
  width: 48px !important;
  padding: 0 !important;
}
ul.social-icons a i {
  margin: 0;
  margin-left: 12px;
  transition: 0.4s;
}
i.fa.fa-facebook:hover {
  color: #446ebf;
}

i.fa.fa-twitter:hover {
  color: #39aadc;
}

i.fa.fa-youtube-play:hover {
  color: #ee423d;
}

i.fa.fa-linkedin:hover {
  color: #81d3fd;
}

i.fa.fa-google-plus:hover {
  color: #d63d1e;
}

i.fa.fa-github:hover {
  color: black;
}

.waves-effect.waves-light {
  background-color: #60A550;
}

.waves-effect.waves-light:hover {
  background-color: #80BE62;
}

.large.material-icons {
  background-color: #60A550;
}

.btn-floating.btn-large.red {
  background-color: #60A550 !important;
}

.col.s12 {
  padding: 30px;
  padding-bottom: 60px;
  width: 400px !important;
}

.card.blue-grey.darken-3 {
  background-color: #80be62 !important;
}

.border1 {
  border-bottom-style: solid;
  border-width: 5px;
  border-color: #47A883;
  width: 100%;
  margin: 2em 0;
}

h2#swal2-title {
  font-family: 'quicksand';
}

button {
  background-color: #23AF92 !important;
}

button:hover {
  background-color: #54BF9C !important;
}

div.swal2-content {
  font-size: 25px !important;
  font-family: 'quicksand';
  font-weight: bold !important;
}

.waves-effect.waves-light.btn.blue-grey.darken-2 {
  background: none !important;
  box-shadow: none !important;
}

.range-field {
  padding-left: 0 5px;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #48A883;
}

input[type=range]::-moz-range-thumb {
  background-color: #48A883;
}

input[type=range]::-ms-thumb {
  background-color: #48A883;
}

input[type=range]+.thumb {
  background-color: #5ec39c;
}

.audiosetting {
  padding: 10px 0;
  background-color: #47a883;
  width: 100%;
  text-align: center;
}

p.trackname {
  font-size: 15px;
}

.social-container {
  text-align: center;
}

.badgesImg {
  height: 120px;
  padding-top: 15px;
  width: auto;
}

.badgesImg:hover {
  height: 300px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.collection {
  border: none;
}

#slide-out {
  background: #84C79F;
  transition: 0.4s;
  overflow-x: hidden;
}

.side-nav {
  width: 389px;
}

.side-nav-card {
  margin: 20px 0;
}

.side-nav-card .card-title {
  font-size: 2em;
  font-weight: 600;
}

nav .left li a {
  padding: 20px 30px 0 30px;
  font-size: 30px;
  height: 100px;
}

.close-sidebar {
  color: white;
  font-size: 30px;
  float: none;
  line-height: 48px;
  width: 100%;
}

.social-icons .fa {
  color: white;
}

.versionSpan {
  font-size: 24px;
}

#labyrinthVersion {
  display: inline-block;
  transition: 0.4s;
  padding: 0 !important;
  text-transform: initial;
  letter-spacing: initial;
  font-size: 14px;
  color: #0d5565;
}

#labyrinthVersion:hover {
  box-shadow: inset #47a883 400px 0 0;
}

#player {
  position: absolute;
  z-index: 1;
  width: 55px;
  height: 60px;
}

.swal2-container [role="dialog"] {
  background-color: #F3EFEC !important;
}

.swal2-buttonswrapper button {
  background-color: #679B49 !important;
  font-family: 'quicksand' !important;
}

.swal2-buttonswrapper button:hover, .swal2-buttonswrapper button:focus {
  background-color: #80BE62 !important;
}

#inventoryDisplay {
  background-color: #47a883;
}

#inventoryDisplay .collection-item {
  background-color: unset;
  color: white;
}

#inventoryDisplay .collection-item .circle {
  background-color: #84c79f;
  color: rgba(255, 255, 255, 0.62);
  width:65px;
  height:65px;
}

#inventoryDisplay .collection-item .title {
  font-size:22px;
  margin-left: 25px;
}

.collection .collection-item.avatar .prop-title{
  font-size:22px;
  margin-left:25px;
}

#inventoryDisplay .collection-item .secondary-content, #inventoryDisplay .collection-item .secondary-content i {
  color: white;
  opacity: 0.62;
}

.fixed-action-btn i.large {
  transition: background-color 0.2s;
  background-color: #679B49;
}

.fixed-action-btn:hover i.large, .fixed-action-btn:focus i.large {
  background-color: #80BE62;
}

#tileLicense {
  margin-left: 20px;
}

#tileLicense a {
  color: #000;
  border-bottom: #000 solid 2px;
}

.collection-badges {
  float: left !important;
  margin-right: 10px !important;
}

/*Translate drop box*/

.languagepicker {
  background-color: rgb(96, 165, 82);
  display: inline-block;
  height: 80px;
  overflow: hidden;
  transition: all .3s ease;
  padding-top: 20px;
  transition:background-color 0.3s;
}

.languagepicker #select:hover{
  background-color: #80BE62;
}

.languagepicker li img {
  margin-right: 10px;
}

.languagepicker .item:hover{
  background-color: #0e8664;
}

/*---*/

.large:hover {
  height: auto;
}

div.swal2-popup.swal2-modal {
  margin-right: 30px !important;
  bottom: 450px;
  top: 30px;
  width: 350px !important;
}

.swal2-container.swal2-center.swal2-fade.swal2-shown {
  background: none;
}

div.swal2-container {
  z-index: -1;
}

div#swal2-content.swal2-content {
  font-weight: 400 !important;
}

h2.swal2-title {
  padding: 15px !important;
}
ul.rate-game li{
  display: inline;
  margin:0;
  margin-left:20%;
}

i.fa.fa-thumbs-up.fa-5x:hover{
  color: #5f70ed;
  transition: 0.3s;
  cursor: pointer;
}
i.fa.fa-thumbs-down.fa-5x:hover{
  color:#c85252;
  transition: 0.3s;
  cursor: pointer;
}
.thanks {
  transition: 0.3s;
}
.translation-flag {
  height: 1em;
  vertical-align: center;
}

.translate-language-choice {
  height: 60px;
  text-align: left;
  padding-top: 12px;
}

.close-sidebar i {
  transition: 0.4s;
}

.card-content.white-text.statistics a {
  text-decoration: none;
  color: #fff;
}

.statistics {
  box-sizing: initial;
}

.stats-btn ul.stats-ul li:hover > i.waves-effect.waves-light.btn.blue-grey.darken-2 {
  background-color: rgba(0,0,0,0.2) !important;
}

.statistics .stats-btn .waves-effect.waves-light.btn.blue-grey.darken-2 {
  text-align: left;
  padding: 10px 0;
  text-align: center;
  border: 2px solid #0e8664;
  width: 100%;
  margin-bottom: 10px;
}

/* Media Quries for Responsive Design */

@media screen and (max-width: 1420px) {
  .right.hide-on-med-and-down li {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1295px) {
  .right.hide-on-med-and-down li {
    font-size: 0.7em;
  }

  .right.hide-on-med-and-down li:nth-child(2) {
    display: none;
  }
}

.play-pause-div {
  bottom: 90px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

/* TImer */
.contTimer {
  display:flex;
  flex-flow:column;
  width:100%;
}
#timer {
  font-size:20px;
  border: 1px solid rgba(0,0,0,0.21);
  border-radius: 4px;
  text-align:center;
  background:rgb(48, 187, 104);
}
