/*Add custom CSS for Game here*/

body {
  background: #d5dbdb !important;
}

.nav-wrapper {
  background-color: #60A550;
}

h1, h2, h3 {
  font-family: "Abril Fatface";
}

.brand-logo.center {
  margin: 0;
  margin-top: .65%;
  font-family: 'Abril Fatface';
  font-size: 2.5em;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  height: 50px;
  width: auto;
}

.card-title, a {
  font-family: 'Quicksand';
}

nav ul a {
  font-size: 1.2em;
}

nav ul a:hover, nav ul a:focus {
  background-color: #80BE62 !important;
}

p {
  font-size: 20px;
  font-family: 'Quicksand';
}

.card-content .white-text {
  padding-left: 0px;
  padding-bottom: 0px !important;
}

div.card-action {
  border: none !important;
  padding-left: 0px !important;
  padding-top: 0px !important;
}

div.social-container {
  margin-left: 0px;
}

i.fa {background: none !important;}

i.fa.fa-step-backward:hover{
  color: black;
}

i.fa.fa-play:hover{
  color:blue;
}

i.fa.fa-pause:hover{
  color: red;
}

i.fa.fa-step-forward:hover{
  color: black;
}

i.fa.fa-times:hover {
  color: red;
}

.select-your-language:hover {
  background-color: #80BE62 ;
}

.languagepicker.roundborders.large .hover-black:hover {
  background-color: rgba(0,0,0,0.2);
}

.right.hide-on-med-and-down li,.select-your-language,.stats-ul li,.hover-black{
  transition:background-color 0.3s;
}

.right.hide-on-med-and-down li:hover{
  background-color: #80BE62;
}

.btn-floating.transparent.waves-effect.waves-light {
  background: none !important;
  box-shadow: none;
  width: 48px !important;
  padding: 0 !important;
}
ul.social-icons a i {
  margin: 0;
  margin-left: 12px;
  transition: 0.4s;
}
i.fa.fa-facebook:hover {
  color: #446ebf;
}

i.fa.fa-twitter:hover {
  color: #39aadc;
}

i.fa.fa-youtube-play:hover {
  color: #ee423d;
}

i.fa.fa-linkedin:hover {
  color: #81d3fd;
}

i.fa.fa-google-plus:hover {
  color: #d63d1e;
}

i.fa.fa-github:hover {
  color: black;
}

.waves-effect.waves-light {
  background-color: #60A550;
}

.waves-effect.waves-light:hover {
  background-color: #80BE62;
}

.large.material-icons {
  background-color: #60A550;
}

.btn-floating.btn-large.red {
  background-color: #60A550 !important;
}

.col.s12 {
  padding: 30px;
  padding-bottom: 60px;
  width: 400px !important;
}

.card.blue-grey.darken-3 {
  background-color: #80be62 !important;
}

.border1 {
  border-bottom-style: solid;
  border-width: 5px;
  border-color: #47A883;
  width: 100%;
  margin: 2em 0;
}

h2#swal2-title {
  font-family: 'quicksand';
}

button {
  background-color: #23AF92 !important;
}

button:hover {
  background-color: #54BF9C !important;
}

div.swal2-content {
  font-size: 25px !important;
  font-family: 'quicksand';
  font-weight: bold !important;
}

.waves-effect.waves-light.btn.blue-grey.darken-2 {
  background: none !important;
  box-shadow: none !important;
}

.range-field {
  padding-left: 0 5px;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #48A883;
}

input[type=range]::-moz-range-thumb {
  background-color: #48A883;
}

input[type=range]::-ms-thumb {
  background-color: #48A883;
}

input[type=range]+.thumb {
  background-color: #5ec39c;
}

.audiosetting {
  padding: 10px 0;
  background-color: #47a883;
  width: 100%;
  text-align: center;
}

p.trackname {
  font-size: 15px;
}

.social-container {
  text-align: center;
}

.badgesImg {
  height: 120px;
  padding-top: 15px;
  width: auto;
}

.badgesImg:hover {
  height: 300px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.collection {
  border: none;
}

#slide-out {
  background: #84C79F;
  transition: 0.4s;
  overflow-x: hidden;
}

.side-nav {
  width: 389px;
}

.side-nav-card {
  margin: 20px 0;
}

.side-nav-card .card-title {
  font-size: 2em;
  font-weight: 600;
}

nav .left li a {
  padding: 0 30px;
  font-size: 30px;
}

.close-sidebar {
  color: white;
  font-size: 30px;
  float: none;
  line-height: 48px;
  width: 100%;
}

.social-icons .fa {
  color: white;
}

.versionSpan {
  font-size: 24px;
}

#labyrinthVersion {
  display: inline-block;
  transition: 0.4s;
  padding: 0 !important;
  text-transform: initial;
  letter-spacing: initial;
  font-size: 14px;
  color: #0d5565;
}

#labyrinthVersion:hover {
  box-shadow: inset #47a883 400px 0 0;
}

#player {
  position: absolute;
  z-index: 1;
  width: 55px;
  height: 60px;
}

.swal2-container [role="dialog"] {
  background-color: #F3EFEC !important;
}

.swal2-buttonswrapper button {
  background-color: #679B49 !important;
  font-family: 'quicksand' !important;
}

.swal2-buttonswrapper button:hover, .swal2-buttonswrapper button:focus {
  background-color: #80BE62 !important;
}

#inventoryDisplay {
  background-color: #47a883;
}

#inventoryDisplay .collection-item {
  background-color: unset;
  color: white;
}

#inventoryDisplay .collection-item .circle {
  background-color: #84c79f;
  color: rgba(255, 255, 255, 0.62);
  width:65px;
  height:65px;
}

#inventoryDisplay .collection-item .title {
  font-size:22px;
  margin-left: 25px;
}

.collection .collection-item.avatar .prop-title{
  font-size:22px;
  margin-left:25px;
}

#inventoryDisplay .collection-item .secondary-content, #inventoryDisplay .collection-item .secondary-content i {
  color: white;
  opacity: 0.62;
}

.fixed-action-btn i.large {
  transition: background-color 0.2s;
  background-color: #679B49;
}

.fixed-action-btn:hover i.large, .fixed-action-btn:focus i.large {
  background-color: #80BE62;
}

#tileLicense {
  margin-left: 20px;
}

#tileLicense a {
  color: #000;
  border-bottom: #000 solid 2px;
}

.collection-badges {
  float: left !important;
  margin-right: 10px !important;
}

/*Translate drop box*/

.languagepicker {
  background-color: rgb(96, 165, 82);
  display: inline-block;
  padding: 0;
  height: 40px;
  overflow: hidden;
  transition: all .3s ease;
  margin: 0 50px 10px 0;
  vertical-align: top;
  float: left;
}

.languagepicker:hover {
  height: auto;
}

.languagepicker a {
  color: #000;
  text-decoration: none;
}

.languagepicker li {
  display: block;
  padding: 0px 20px;
  line-height: 40px;
  border-top: 1px solid #EEE;
}

.languagepicker li:hover {
  background-color: #EEE;
}

.languagepicker a:first-child li {
  border: none;
  background: #FFF !important;
}

.languagepicker li img {
  margin-right: 5px;
}

.large:hover {
  height: auto;
}

div.swal2-popup.swal2-modal {
  margin-right: 30px !important;
  bottom: 450px;
  top: 30px;
  width: 350px !important;
}

.swal2-container.swal2-center.swal2-fade.swal2-shown {
  background: none;
}

div#swal2-content.swal2-content {
  font-weight: 400 !important;
}

h2.swal2-title {
  padding: 15px !important;
}
ul.rate-game li{
  display: inline;
  margin:0;
  margin-left:20%;
}

i.fa.fa-thumbs-up.fa-5x:hover{
  color: #429cd6 ;
}
i.fa.fa-thumbs-down.fa-5x:hover{
  color:red; 
}
.thanks {
  transition: 0.3s;
}
.translation-flag {
  height: 1em;
  vertical-align: center;
}

.translate-language-choice {
  height: 60px;
  display: block;
  text-align: center;
  padding-top: 12px;
}

.languagepicker a {
  color: #fff;
}

.close-sidebar i {
  transition: 0.4s;
}

.card-content.white-text.statistics a {
  text-decoration: none;
  color: #fff;
}

.statistics {
  box-sizing: initial;
}

.statistics .stats-btn {
  background: #47a883;
}

.stats-btn ul.stats-ul li:hover{
  background-color: rgba(0,0,0,0.2);
}

.statistics .stats-btn .waves-effect.waves-light.btn.blue-grey.darken-2 {
  display: block;
  text-align: left;
  padding: 10px 0;
  text-align: center;
  border-top: 2px solid #0e8664;
  width: 100%;
}
/* Scroll to top */
#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 5;
    opacity: 0.5;
    border: none;
    outline: none;
    background-color: aqua;
    color: blue;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
#scrollToTop:hover {
    background-color: #555;
    opacity: 1.0;
}