/*
Credits
https://google.github.io/material-design-icons/#icon-font-for-the-web
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts//MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts//MaterialIcons-Regular.woff) format('woff'),
  url(../fonts//MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Quicksand Dash";
    src: url("../fonts/Quicksand_Dash.otf") format("opentype");
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Italic.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Light.otf") format("opentype");
  font-weight: lighter;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-LightItalic.otf") format("opentype");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons-arrow {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-transform: rotate(-45deg);
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
