@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    background: #322f30;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
.top-row {
    padding: 0 30px;
}
ul {
    padding:0;
    list-style: none;
}
.social-icons {
    margin-top: 5px;
}
.social-icons li {
    margin: 0 10px;
}
.social-container {
    display: table;
    margin: auto;
}
.fa {
    color: #fff;
}
.social-icons li {
    display: inline-block;
}
.social-icons a {
    transition: background-color 0.5s;
}
.social-icons a.flickr:hover {
    background-color: #ff0084 !important;
}
.social-icons a.facebook:hover {
    background-color: #0084FF !important;
}
.social-icons a.twitter:hover {
    background-color: #1DA1F2 !important;
}
.social-icons a.googleplus:hover {
    background-color: #DB4437 !important;
}
.social-icons a.linkedin:hover {
    background-color: #0077B5 !important;
}
.social-icons a.youtube:hover {
    background-color: #ff0000 !important;
}
