@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
  font-family: 'Quicksand', sans-serif !important;
  color: #FFF;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #fff;
}

p > a:hover{
  color: #d9d9d9;
  text-decoration:  underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin:  1% 0 1% 0;
}

._12 {
  font-size: 1.2em;
}

._14 {
  font-size: 1.4em;
}

.left-column {
  width: 30%;
  margin: 0;
}

ul {
  padding:0;
  list-style: none;
}

.social-icons {
  margin-top: 5px;
}

.social-icons li {
  margin: 0 10px;
}

.social-container {
  display: table;
  margin: auto;
}

.fa {
  color: #fff;
}

.social-icons li {
  display: inline-block;
}

.social-icons a {
  transition: background-color 0.5s;
}

.social-icons a.flickr:hover {
  background-color: #ff0084 !important;
}

.social-icons a.facebook:hover {
  background-color: #0084FF !important;
}

.social-icons a.twitter:hover {
  background-color: #1DA1F2 !important;
}

.social-icons a.linkedin:hover {
  background-color: #0077B5 !important;
}

.social-icons a.youtube:hover {
  background-color: #ff0000 !important;
}

.fa-facebook {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-twitter {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-twitter:hover {
  background-color: #00aced;
}
.fa-rss {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-rss:hover {
  background-color: #eb8231;
}

.fa-youtube {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-youtube:hover {
  background-color: #e64a41;
}

.fa-linkedin {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}

input[type="range"] {
  border: none;
}

blockquote {
  border-left: 5px solid #26a69a;
}
