/*Primary Styles*/
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    padding-top: 70px;
    display: table-cell;
    vertical-align: middle;
    background: #333;
}

h1, h2, h3 {
  font-family: 'playfair display';
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #C0392B;
}


a {
  text-decoration: none;
}

/*Play button*/

button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid #C0392B;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin: 3em auto;
  padding: 1em 3em;
  position: relative;
  text-transform: uppercase;
  font-family: 'raleway';
  letter-spacing: 2px;
}

button::before,
button::after {
  background: #C0392B;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #fff;
}

.play {
  overflow: hidden;
}

.play::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(30deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.play:hover:after {
  height: 100%;
  width: 135%;
}

.play-button {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    height: 50px;
}

p.site_description {
  font-family: 'Source Code Pro';
  letter-spacing: 1px;
}

/*Image on hover*/

img {
    transition: all 0.5s linear;
}

.content img:hover {
  width: 60%;
}

/*Background*/

.whitespace {
  background: #fff;
  padding: 50px;
  border-style: solid;
  border-width: 7px;
  border-color: #C0392B;
  border-radius: 15px;
  border-spacing: 2px;
}

/*Fotter credits*/

.credits{
  font-family: 'raleway thin';
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  font-size: 0.7em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.credits a {
  font-family: 'raleway';
  color: #fff;
}

.header {
  padding-bottom: 20px;
  width: 400px;
  border-bottom-style: solid;
  border-spacing: 50px;
  border-width: 2px;
  border-color: #C0392B;
}

.content {
  padding-top: 20px;
  width: 450px;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%, 10%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 10%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-10px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 10%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } }
    
.centered {
  text-align: center;
}

.how-to-play-image {
  width: 50%;
}
